In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [4]:
def train_val_test_split(X, Y):
    # check data has been read in properly
    _X_train, X_test, _Y_train, Y_test = train_test_split(
        X, Y, test_size=0.2, random_state=0)

    X_train, X_val, Y_train, Y_val = train_test_split(
        _X_train, _Y_train, test_size=0.25, random_state=0)  # 0.25 x 0.8 = 0.2
    return X_train, X_val, X_test, Y_train, Y_val, Y_test

In [14]:
data = pd.read_csv("../data/csvs/data.csv", index_col="index")
print("Number of all rows:", len(data))
data.head()

Number of all rows: 735

,longitude,latitude,access,pet,pop,urban,W_access,adj_cases
index,,,,,,,,
0,109.5792,18.29187,-0.625080,1.346743,2.067364,1.284664,2.655904,1.359044
2,109.4197,18.39084,-0.737850,1.160834,0.871805,0.716921,2.674515,27.500755
3,109.9475,18.56796,-0.523366,1.269342,1.113280,0.613657,2.634486,1.858131
4,109.0491,18.65009,-1.265526,1.233569,0.818068,0.533877,2.691532,0.859855
5,110.2876,18.83795,0.042701,0.980076,0.756649,-0.482502,2.614768,5.212622

In [15]:
# create a dataframe with all training data except the target column
X = data.drop(columns=["adj_cases"])

# create a dataframe with only the target column
Y = data[["adj_cases"]]

X_train, X_val, X_test, Y_train, Y_val, Y_test = train_val_test_split(X, Y)
X_train.head()

        longitude   latitude    access       pet       pop     urban  W_access
index
1584   117.020100  31.727620 -0.391997  0.238661  1.178609  1.365907 -1.850247
1507   114.133808  22.365019 -2.991311  0.420560  3.912896  2.391041 -1.013810
746    104.620800  36.618640 -1.241364  0.349482  0.824108  0.496990 -0.465992
663    108.787200  34.107270 -1.260784  0.134387  1.954617  1.931505 -1.004919
568    112.607900  31.069880 -0.660014 -0.018558  1.232776  1.407944 -2.281167

In [16]:
Y_train.head()

       adj_cases
index
1584    0.163980
1507    0.197557
746     0.780791
663    23.805346
568    35.059635

In [17]:
# Save splitted data in csv files
pd.concat([X_train, Y_train], axis=1).to_csv("../data/csvs/split/train.csv", index=True, index_label="index", na_rep="NA")
pd.concat([X_val, Y_val], axis=1).to_csv("../data/csvs/split/validation.csv", index=True, index_label="index", na_rep="NA")
pd.concat([X_test, Y_test], axis=1).to_csv("../data/csvs/split/test.csv", index=True, index_label="index", na_rep="NA")